
#signUp {
    background-color: #d5d5d5;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    visibility: hidden;
}
#update {
    background-color: #d5d5d5;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    visibility: hidden;
}
#signIn {
    background-color: #d5d5d5;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
   
}

#welcomeUser {
    color: #81d4b5;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 30px;
}

h4 {
    margin-bottom: 15px;
    color: #81d4b5;
    font-size: 40px;
    font-weight: bold;
    /* text-align: center;*/
}

label {
    display: block;
    margin-bottom: 10px;
    color: #72a8a6;
    font-size: 18px;
    font-weight: bold;
}
input[type="email"],
input[type="text"],
input[type="password"] {
    width: 30%;
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #e6e6e6;
    color: #000000;
    font-size: 14px;
}

button {
    background-color: #46c391;
    color: #d5d5d5;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    display: block;
    text-align: center;
    margin:auto;
    
}

    button:hover {
        background-color: #49947b;
    }

a {
    display: block;
    margin-top: 10px;
    color: #65bd97;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    text-align: center;
}

    a:hover {
        text-decoration: underline;
    }
/*#myProgress {
    width: 30%;
    background-color: grey;
    margin: auto;
    border-radius:9px;
}*/

#score {
    border-radius: 9px;
    width: 50%;
    height: 10px;
    background-color: green;
    border-radius: 9px;
}
